html, body {
    height: 100%; /* Establecer la altura del html y body al 100% */
    margin: 0; /* Remover márgenes predeterminados */
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.icon-tabla{
    width :30px;
    height:30px;
    border-radius:5px;
}

.icon-tabla:hover{
    transform:scale(1.2)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

footer {
    background-color: #5E6061;
    color: white;
    padding: 20px 0;
    width: 100%;
    margin-top:200px;
}

.footer-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    max-width: 100%; 
    margin: 0;
    padding: 0 20px; 
}

.footer-section {
    margin-bottom: 20px;
}

    .footer-section h4 {
        margin-bottom: 10px;
        font-size: 16px;
        text-transform: uppercase; /* Estilo de título */
    }

    .footer-section ul {
        list-style: none; /* Remover estilos de lista */
        padding: 0;
        margin: 0;
    }

        .footer-section ul li {
            margin-bottom: 5px; /* Espaciado entre elementos de lista */
        }

    .footer-section a {
        color: white; /* Color de los enlaces */
        text-decoration: none; /* Remover subrayado */
    }

        .footer-section a:hover {
            text-decoration: underline; /* Estilo de hover para enlaces */
        }

.footer-copy {
    text-align: center; /* Centrar texto de derechos reservados */
    margin-top: 20px;
    font-size: 12px;
}